@import url("//fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic|Source+Code+Pro:400,700");
.coursebody header:after, .coursebody .three-key-questions:after, .coursebody .audio-widget:after { content: ""; display: table; clear: both; }

.pagenavigation { text-align: center; }
.pagenavigation img { padding: 0 0 0 2em; width: 30px; height: 30px; }
.pagenavigation img:hover { opacity: 0.5; }

.coursebody { padding: 1em; font-family: 'Source Sans Pro', sans-serif; font-size: 18px; line-height: 27px; color: #222222; font-weight: 500; }
.coursebody p { font-family: "Source Sans Pro", sans-serif; font-size: 18px; line-height: 27px; color: #222222; font-weight: 500; }
.coursebody ul li { font-family: "Source Sans Pro", sans-serif; font-size: 18px; line-height: 27px; color: #222222; font-weight: 500; }
.coursebody a:link { color: #af6f29; font-weight: 600; text-decoration: none; border-bottom: 1px dotted; }
.coursebody a:visited { color: #af6f29; }
.coursebody a:hover, .coursebody a:focus { color: #d8a428; border: none; }
.coursebody header { text-align: right; font-size: 24px; font-weight: 300; color: #2c4c78; }
.coursebody header .headertitle { position: relative; float: right; border-bottom: 1px solid #818285; padding: 0 8px 8px 40px; }
.coursebody header .headertitle .secondarytitle { font-size: 18px; font-style: italic; color: #818285; }
.coursebody .imageRight { float: right; padding: 1em; }
.coursebody .imageLeft { float: left; padding: 1em; }
.coursebody .objective-column { position: relative; float: right; width: 350px; padding: 0 0 0 3em; height: 100%; }
.coursebody .objective-column .objective-points { border-left: 5px solid green; padding: 0 0 1em 1em; }
.coursebody .objective-column .objective-icon { /* Be sure to change this for local development - just remove the topclass part of the path */ background: url("//learning.greeneconsults.com/topclass/course-page-layout/images/icon-thumbtack.png") 0px no-repeat; margin: 0 0 0 -20px; padding-top: 1px; height: 48px; }
.coursebody .objective-column h2 { margin-top: 10px; padding: 0 0 0 40px; text-transform: uppercase; font-size: 18px; font-weight: 500; color: #1f6735; }
.coursebody .objective-column p { border-bottom: 1px solid #e4e4e3; padding-bottom: 1.2em; }
.coursebody .objective-column .objective-leadin { padding-left: 25px; padding-bottom: 0; border: none; }
.coursebody .objective-column .pageInstruction { /* Define style at a later date if necessary. */ }
.coursebody .page-media-column { position: relative; float: right; width: 49px; height: 100%; padding: 1.2em 5em 0 5em; }
.coursebody .page-media-column a:link { border: none; }
.coursebody .page-media-column img { padding: 0 0 1em 0; }
.coursebody .page-media-column img:hover { opacity: 0.5; }
.coursebody h1 { margin: 1.5em 0 1.3em 0; }
.coursebody h1 .pagetitle { text-transform: uppercase; font-size: 18px; font-weight: 500; color: #ffffff; padding: 10px 30px 10px 30px; background-color: #9c8f81; border-right: 8px solid #85796d; }
.coursebody h3 { text-transform: uppercase; color: #2c4c78; font-size: 18px; font-weight: 500; margin: 0 0 -13px 0; }
.coursebody .three-key-questions { width: calc(100% - 235px); }
.coursebody .three-key-questions ul { padding: 1em 0 0 1.5em; list-style: none; }
.coursebody .three-key-questions ul li { padding: 0 0 0 20px; margin: 0 0 2em 0; border-left: 5px solid #2c4c78; text-indent: -1em; }
.coursebody .three-key-questions ul li span { padding: 0 2em 10px 1em; }
.coursebody ol { width: calc(100% - 275px); padding: 1em 0 1em 3em; }
.coursebody ol li { font-size: 24px; color: #2c4c78; font-weight: 600; margin-bottom: 1em; }
.coursebody ol span { font-size: 18px; color: #222222; font-weight: 500; }
.coursebody .audio-widget { display: inline-block; width: 54%; font-style: italic; font-size: 16px; padding: 1em 0 1em 1em; }
.coursebody .audio-widget a:link { border: none; }
.coursebody .audio-widget .aw-img { position: relative; float: left; width: 49px; height: 50px; }
.coursebody .audio-widget .aw-body { position: relative; float: right; width: calc(100% - 63px); padding-left: 10px; }
.coursebody .audio-widget img:hover { opacity: 0.5; }
.coursebody table { border-bottom: 1px solid #2c4c78; width: 100%; table-layout: fixed; border-collapse: collapse; background-color: #f2f1f1; }
.coursebody table tr:nth-child(odd) { background-color: #e4e4e3; }
.coursebody table .table-heading-c1 { color: #818285; text-align: right; vertical-align: bottom; font-size: 110%; }
.coursebody table caption { text-align: left; padding: .6em .8em; background-color: #2c4c78; color: white; text-transform: uppercase; font-size: 110%; }
.coursebody table td { padding: 1em; text-align: center; }
.coursebody table th { padding: 1em; }
.coursebody table tr th { text-align: right; color: #2c4c78; text-transform: uppercase; }
.coursebody table thead th { background-color: #f2f1f1; text-transform: uppercase; color: #2c4c78; text-align: center; }
.coursebody .tableRowHighlight { background-color: #e5c48a !important; text-decoration: none !important; }
.coursebody #tableAlignLeft tr td, .coursebody #tableAlignLeft thead th { text-align: left; }
.coursebody .example-box { border: 1px dotted #1f6735; padding: 1em; margin: 1em 4em 1em 2em; }
.coursebody .example-box ul li { margin-bottom: 20px; }
.coursebody .explanation-widget-box { font-style: italic; background-color: lightyellow; background-image: none; background-repeat: repeat; background-attachment: scroll; background-position: 0% 0%; background-clip: border-box; background-origin: padding-box; background-size: auto auto; padding: 1rem; margin: 0 0 1rem 0; border-left: 5px solid #1f6735; display: block; width: 80%; }
.coursebody .explanation-widget-box ol { padding-bottom: 0; }
.coursebody .explanation-widget-box ol li { font-weight: 500; font-size: 18px; line-height: calc($default_line_height + 10px); color: #222222; }
.coursebody footer { padding-top: 3em; font-size: 13px; font-style: italic; }
.coursebody footer .footertext { border-top: 1px dotted #818285; padding-bottom: 1em; width: 400px; }
.coursebody footer p { margin: 0 0 0 0; font-size: 13px; }

/*# sourceMappingURL=course.css.map */