// This is a SASS document for Topclass course look and feel

// Global variables
$default_font_size: 18px;
$default_line_height: 27px;
$default_font_weight: 500;
$primary_blue: #2c4c78;
$primary_gray: #222222;
$secondary_gray: #818285;
$page_title: #ffffff;
$page_title_bg: #9c8f81;
$page_title_bg_right: #85796d;
$primary_green: #1f6735;
$table_primary_gray: #f2f1f1;
$table_secondary_gray: #e4e4e3;
$link_active_color: #af6f29;
$link_hover_color: #d8a428;

//Placeholders
%clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}
.pagenavigation {
	text-align: center;
		img {
			padding: 0 0 0 2em;
			width: 30px;
			height: 30px;
		}
		img:hover {
			opacity: 0.5;
		}
}

.coursebody {
	padding: 1em;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: $default_font_size;
	line-height: $default_line_height;
	color: $primary_gray;
	font-weight: $default_font_weight;

		a:link {
			color: $link_active_color;
			font-weight: 600;
			text-decoration: none;
			border-bottom: 1px dotted;
			}
		a:visited {
			color: $link_active_color;
			}
		a:hover ,a:focus {
			color: $link_hover_color;
			border: none;
			}
		a:active {

		}

		header {
			text-align: right;
			font-size: 24px;
			font-weight: 300;
			@extend %clearfix;
			color: $primary_blue;
				.headertitle {
					position: relative;
					float: right;
					border-bottom: 1px solid $secondary_gray;
					padding: 0 8px 8px 40px;
						.secondarytitle {
							font-size: $default_font_size;
							font-style: italic;
							color: $secondary_gray;
						}
				}
		}

		.objective-column {
			position: relative;
			float: right;
			width: 350px;
			padding: 0 0 0 3em;
			height: 100%;
				.objective-points {
					border-left: 5px solid green;
					padding: 0 0 1em 1em;
				}
				.objective-icon {
					background: url('/images/icon-thumbtack.png') 0px no-repeat;
					margin: 0 0 0 -20px;
					padding-top: 1px;
					height: 48px;
				}
				h2 {
						margin-top: 10px;
						padding: 0 0 0 40px;
						text-transform: uppercase;
						font-size: $default_font_size;
						font-weight: $default_font_weight;
						color: $primary_green;
				}
				p {
					border-bottom: 1px solid $table_secondary_gray;
					padding-bottom: 1.2em;
				}
				.objective-leadin {
					padding-left: 25px;
					padding-bottom: 0;
					border: none;
				}
		}

		.page-media-column {
				position: relative;
				float: right;
				width: 49px;
				height: 100%;
				padding: 1.2em 5em 0 5em;
				a:link {
					border: none;
				}
					img {
						padding: 0 0 1em 0;
					}
					img:hover{
						opacity: 0.5;
					}
				}

		h1 {
			margin: 1.5em 0 1.3em 0;
				.pagetitle {
					text-transform: uppercase;
					font-size: $default_font_size;
					font-weight: $default_font_weight;
					color: $page_title;
					padding: 10px 30px 10px 30px;
					background-color: $page_title_bg;
					border-right: 8px solid $page_title_bg_right;
				}
		}

		h3 {
			text-transform: uppercase;
			color: $primary_blue;
			font-weight: $default_font_weight;
			margin: 0 0 -13px 0;
		}

		.three-key-questions {
			width: calc(100% - 235px);
			@extend %clearfix;
				ul {
					padding: 1em 0 0 1.5em;
					list-style: none;
						li {
							padding: 0 0 0 0;
							margin: 0 0 2em 0;
							border-left: 5px solid $primary_blue;
								span {
									padding: 0 2em 10px 1em;

								}
						}
				}
		}

		ol {
			width: calc(100% - 275px);
			padding: 1em 0 1em 3em;
				li {
					font-size: 24px;
					color: $primary_blue;
					font-weight: 600;
					line-height: 2em;
				}
				span {
					font-size: $default_font_size;
					color: $primary_gray;
					font-weight: $default_font_weight;
				}
		}
		.audio-widget {
			display: inline-block;
			width: 54%;
			font-style: italic;
			font-size: 16px;
			padding: 1em 0 1em 1em;
			@extend %clearfix;
				a:link {
					border: none;
				}
				.aw-img {
					position: relative;
					float: left;
					width: 49px;
					height: 50px;
				}
				.aw-body {
					position: relative;
					float: right;
					width: calc(100% - 63px);
					padding-left: 10px;
				}
				img:hover {
					opacity: 0.5;
				}
		}

		table {
			border-bottom: 1px solid $primary_blue;
			width: 100%;
			table-layout: fixed;
			border-collapse: collapse;
			background-color: $table_primary_gray;
				tr:nth-child(odd) {
					background-color: $table_secondary_gray;
			}
				.table-heading-c1 {
					color: $secondary_gray;
					text-align: right;
					vertical-align: bottom;
					font-size: 110%;
				}
				caption {
					text-align: left;
					padding: .6em .8em;
					background-color: $primary_blue;
					color: white;
					text-transform: uppercase;
					font-size: 110%;
				}
				thead th {
									}
				td {
					//border: 1px solid green;
					padding: 1em;
					text-align: center;
				}
				th {
					padding: 1em;
				}
				tr th {
					text-align: right;
					color: $primary_blue;
					text-transform: uppercase;
				}
				thead th {
					background-color: $table_primary_gray;
					text-transform: uppercase;
					color: $primary_blue;

					text-align: center;
				}

		}
		.explanation-widget-box {
			background-color: lightyellow;
		  background-image: none;
		  background-repeat: repeat;
		  background-attachment: scroll;
		  background-position: 0% 0%;
		  background-clip: border-box;
		  background-origin: padding-box;
		  background-size: auto auto;
		  padding: 1rem;
		  margin: 0 0 1rem 0;
		  border-left: 5px solid $primary_green;
			display: block;
			width: 80%;
		}

		footer {
			padding-top: 3em;
			font-size: 13px;
			font-style: italic;
				.footertext {
					border-top: 1px dotted $secondary_gray;
					padding-bottom: 1em;
					width: 400px;
				}
				p {
					margin: 0 0 0 0;
				}
		}
}