/* 
  -----------------------------------
  Tab Panel Magic 3
  by Project Seven Development
  www.projectseven.com
  Style Theme: 1 - Win Tabs
  -----------------------------------
*/
.p7TP3-01 {
	width: auto;
	margin: 0 auto;
	padding: 12px;
	background-color: #EDEBDE;
	border-top: 1px solid #F9F8F2;
	border-right: 1px solid #D9D5B9;
	border-bottom: 1px solid #D9D5B9;
	border-left: 1px solid #F9F8F2;
	font-family: "Segoe UI", "Gill Sans", Optima, sans-serif;
	border-radius: 5px;
	box-shadow: 1px 1px 2px #747658;
}
.p7TP3-01 img {
	vertical-align: top;
}
/*Triggers construct - including arrows*/
.p7TP3-01 .p7TP3tabs_01.no-tabs {
	display: none;
}
.p7TP3-01 .p7TP3tabs_01 {
	position: relative;
	z-index: 10;
	overflow: hidden;
	zoom: 1;
}
.p7TP3_arrows_01 .p7TP3_arrow_L, .p7TP3_arrows_01 .p7TP3_arrow_R {
	float: left;
	position: relative;
	z-index: 10;	
}
.p7TP3_arrows_01 .p7TP3_arrow_R {
	float: right;
}
.p7TP3_arrows_01 a {
	display: block;
	text-decoration: none;
	color: #CCC;
	text-indent: -9999px;
	width: 26px;
	background-repeat: no-repeat;
}
.p7TP3_arrows_01 .p7TP3_arrow_L a {
	background-image: url(../../ltci/p7tp3/img/tp3_01_west.jpg);
}
.p7TP3_arrows_01 .p7TP3_arrow_R a {
	background-image: url(../../ltci/p7tp3/img/tp3_01_east.jpg);
}
.p7TP3_arrows_01 a:hover, .p7TP3_arrows_01 a:focus {
	outline: 0;
}
.p7TP3_arrows_01 a.off {
	display: block;
	background-position: 0px -138px;
	cursor: default;
}
/*Trigger Viewport*/
.p7TP3-01 .p7TP3tabs_viewport {
	position:relative;
	overflow:hidden;
	zoom: 1;
}
/*Trigger and Arrows Font Size, top, and bottom padding*/
.p7TP3_arrows_01 a, .p7TP3_tabs_01 a, .p7TP3_tabs_01 a:visited {
	font-size: inherit;
	padding-top: 16px !important;
	padding-bottom: 6px !important;
}
/*Trigger Wrapper*/
.p7TP3-01 .p7TP3tabs_wrapper {
	position:relative;
}
/*Trigger UL*/
.p7TP3_tabs_01 {
	margin: 0;
	padding: 0px;
	position: relative;
	z-index: 10;
	zoom: 1;
}
.p7TP3_tabs_01 a img {
	border: 0;
}
.p7TP3_tabs_01 li {
	float: left;
	list-style-type: none;
	margin-left: -1px;
	background-image: url(../../ltci/p7tp3/img/tp3_01_tab_left.jpg);
	background-repeat: no-repeat;
	position: relative;
}
.p7TP3_tabs_01 .tp3first {
	margin-left: 0;
}
.p7TP3_tabs_01 a, .p7TP3_tabs_01 a:visited {
	display: block;
	color: #000;
	text-decoration: none;
	padding-right: 18px;
	padding-left: 18px;
	background-image: url(../../ltci/p7tp3/img/tp3_01_tab_right.jpg);
	background-repeat: no-repeat;
	background-position: right top;
	border-bottom: 1px solid #CCC;
}
.p7TP3_tabs_01 a:hover, .p7TP3_tabs_01 a:focus {
	outline: 0;
	color: #E39658;
}
.p7TP3_tabs_01 li.open {
	background-position: left -127px;
	top: 1px;
}
.p7TP3_tabs_01 a.open, .p7TP3_tabs_01 a.open:visited {
	text-decoration: none;
	color: #000;
	background-position: right -127px;
	border-color: transparent;
}

/*Toolbars*/
.p7TP3-01.tools-top {
	padding-top: 0px;
}
.p7TP3-01.tools-bottom {
	padding-bottom: 0px;
}
.p7TP3-01-tools {
	position: relative;
	text-align: center;
	padding: 6px 0px;
	overflow: hidden;
}

/*Paginator*/
.p7TP3-01 .p7TP3-01-pags {
	overflow: hidden;
}
.p7TP3-01 .p7TP3-01-pags ul {
	margin: 0px;
	padding: 0;
	display: inline-block;
}
.p7TP3-01 .p7TP3-01-pags li {
	list-style-type: none;
	float: left;
	margin-right: 6px;
	margin: 3px;
}
.p7TP3-01 .p7TP3-01-pags ul a {
	text-decoration: none;
	display: block;
	color: #666666;
	background-color: #666666;
	font-size: 0px;
	line-height: 0px;
	padding: 5px;
	border-radius: 100%;
	border: none !important;
}
.p7TP3-01 .p7TP3-01-pags ul a:hover, .p7TP3-01 .p7TP3-01-pags ul a.down {
	background-color: #E39658;
}
/*Prev-Next Arrows*/

.p7TP3-01 .p7TP3-01-arrows a {
	text-decoration: none;
	position: absolute;
	z-index: 10;
	display: block;
	opacity: .35;
	font-size: 0px;
	color: rgba(255,255,255,0);
}
.p7TP3-01 .p7TP3-01-arrows a:hover {
	opacity: 1;
}
.p7TP3-01 .p7TP3-01-arrow-prev {
	left: 3px;
	top: 42%;
	background-image: url(../../ltci/p7tp3/img/p7tp3-prev-dark.png);
	background-repeat: no-repeat;
	height: 25px;
	width: 14px;
}

.p7TP3-01.v-slide .p7TP3-01-arrow-prev {
	left: auto;
	top: 6px;
	background-image: url(../../ltci/p7tp3/img/p7tp3-up-dark.png);
	height: 14px;
	width: 25px;
	right: 6px;
}

.p7TP3-01 .p7TP3-01-arrow-next {
	right: 3px;
	top: 42%;
	background-image: url(../../ltci/p7tp3/img/p7tp3-next-dark.png);
	background-repeat: no-repeat;
	height: 25px;
	width: 14px;
}

.p7TP3-01.v-slide .p7TP3-01-arrow-next {
	right: 3px;
	top: auto;
	bottom: 6px;
	background-image: url(../../ltci/p7tp3/img/p7tp3-down-dark.png);
	height: 14px;
	width: 25px;
}
/*Pause-Play Control*/
.p7TP3-01-pause-play {
	float: right;
	font-size: 13px;
}
.p7TP3-01-pause-play a {
	display: block;
	text-decoration: none;
	color: #666666;
	text-transform: uppercase;
}
.p7TP3-01-pause-play a:hover {
	color: #E39658;
}

/*Panels*/
/*Outer Wrapper*/
.p7TP3cwrapper_01 {
	position: relative;
	top: -1px;
	border: 1px solid #CCC;
	background-color: #FFF;
	border-radius: 0px 0px 5px 5px;
}
.p7TP3-01.no-scroll .p7TP3cwrapper_01 {
	border-radius: 0px 5px 5px 5px;
}
.p7TP3-01.no-tabs .p7TP3cwrapper_01 {
	border-radius: 5px 5px 5px 5px;
}
/*Panels Viewport*/
.p7TP3cwrapper_01 .p7TP3_vp {
	filter: none;
}

/*Individual panels*/
.p7TP3_content_01 {
	padding: 20px;
	color: #000;
	font-size: inherit;
	line-height: 1.5em;
}
.p7TP3_content_01 a {
	text-transform: uppercase;
	color: #C05F30;
}
.p7TP3_content_01 a:hover, .p7TP3_content_01 a:focus {
	color: #000;
}
