/* 
  -----------------------------------
  Elevator Panels
  by Project Seven Development
  www.projectseven.com
  Style Theme: 05 - Basic
  -----------------------------------
*/
.p7EPM05 .p7epm_trigs {
	overflow: hidden;
	margin-bottom: 12px;
}
.p7EPM05 .p7epm_trigs ul {
	margin: 0px;
	padding: 0px;
}
.p7EPM05 .p7epm_trigs li {
	list-style-type: none;
	background-repeat: repeat-x;
	display: inline;
	margin-right: 4px;
}
.p7EPM05 .p7epm_trigs a {
	color: #000000;
	line-height: 1.5em;
	font-weight: bold;
}
.p7EPM05 .p7epm_trigs a:hover {
	color: #0066FF;
}
.p7EPM05 .p7epm_cwrapper {
	border-top: 1px solid #000000;
	border-right: 1px solid #000000;
	border-bottom: 6px solid #000000;
	border-left: 1px solid #000000;

}
.p7EPM05 .p7epm_content {
	padding: 12px 24px;
	line-height: 1.5em;
	background-color: #CCCC99;
	border: 0;
	color: #000000;
}
.p7EPM05 .p7epm_content.pan1 {}
.p7EPM05 .p7epm_content.pan2 {}
.p7EPM05 .p7epm_content.pan3 {}
.p7EPM05 .p7epm_content.pan4 {}
.p7EPM05 .p7epm_content.pan5 {}
.p7EPM05 .p7epm_trigs .p7epm_open {
	color: #0066FF !important;
	text-decoration: none;
}
.p7EPM05 .p7epm_trigs .t1 .p7epm_open {}
.p7EPM05 .p7epm_trigs .t2 .p7epm_open {}
.p7EPM05 .p7epm_trigs .t3 .p7epm_open {}
.p7EPM05 .p7epm_trigs .t4 .p7epm_open {}
.p7EPM05 .p7epm_trigs .t5 .p7epm_open {}
.p7EPM05 .p7epm_ie5clear {
	font-size: 0;
	height: 0;
	line-height: 0.0;
}
